@{
    ViewData["Title"] = "Home Page";
}
<div class="row" style="height: 200px; ">

</div>
<div class="text-center contenedora">
    <div class="text-center homeTitle">
        <h1 class="display-10">
            PRUEBA TÉCNICA
        </h1>
 
    </div>
</div>
<div class="grid-container">
    <div ><a asp-controller="Cliente" asp-action="Index"><div> <input class="btn bg-light" style="font-size: 50px;"  type="button" value="Clientes" /> </div><i  class="fa-solid fa-users"></i></a></div>
    <div><a asp-controller="Factura" asp-action="Index"><div> <input style="font-size: 50px;" class="btn bg-light" type="button" value="Ventas" /> </div><i class="fa-solid  fa-file-invoice-dollar"></i></a></div>
    <div><a asp-controller="Producto" asp-action="Index"><div> <input style="font-size: 50px;" class="btn bg-light" type="button" value="Productos" /> </div><i class="fa-solid fa-boxes-stacked"></i></a></div>

</div>
<div class="row" style="height: 200px; ">

</div>
